.vs/
MTB/bin/
MTB/obj/
10kBotUnity/10kBotUnity/obj/
10kBotUnity/10kBotUnity/Library/
10kBotUnity/10kBotUnity/Builds/
10kBotUnity/10kBotUnity/10kBotUnity.CSharp.csproj
10kBotUnity/10kBotUnity/10kBotUnity.sln
10kBotUnity/10kBotUnity/Assembly-CSharp.csproj
10kBotUnity/10kBotUnity/Temp/
UnitySocketCrash/Library/
